BETTER_AUTH_URL=XXXXXXXXXXXXXX
GOOGLE_CLIENT_ID=XXXXXXXXXXXXXx
GOOGLE_CLIENT_SECRET=XXXXXXXXXXXXXXXXxx
PUBLIC_URL=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CLOUDINARY_CLOUD_NAME=xxxxxxxxxxxxxxxxxxxxxxxxxxxx
CLOUDINARY_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxx
CLOUDINARY_API_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxx
ASTRO_DB_REMOTE_URL=xxxxxxxxxxxxxxxxxxxxxxxxxxxx
ASTRO_DB_APP_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxx
