---
import "@/styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" />
    <title>Auth - Waypoint</title>
  </head>
  <body
    class="bg-gray-50 min-h-screen font-sans text-gray-900 antialiased selection:bg-gray-900 selection:text-white"
  >
    <div
      class="flex min-h-screen flex-col justify-center py-12 sm:px-6 lg:px-8"
    >
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <h1
          class="text-center text-3xl font-black tracking-tighter text-gray-900 mb-2"
        >
          <a href="/">Waypoint<span class="text-gray-400">.</span></a>
        </h1>
      </div>
      <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <slot />
      </div>
    </div>
  </body>
</html>
